/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1{
    background:darkmagenta;
}
.color-2{
   background: #70778C; 
}
.color-3{
    background: #A5AFC1;
}
.color-4{
    background: #DAD0BE;
}
.color-5{
    background: #D65506;
}

/* Textures or Patterns*/
.pattern-1{
    background:;
}
.pattern-2{
    background: ;
}




/* Icons */
.icon-1{
    background: ;
}
.icon-2{
    background: #000;
}


/* Navigation */


/* Typography */

